body {
  font-family: Arial, Helvetica, sans-serif
}

/* Nav */

nav {
  background-color: #C25D51;
}

.word-logo {
  margin-left: -8px;
}

.right-nav-links {
  margin: 20px;
}

.nav-no-margin {
  margin-left: 0;
}

.nav-no-margin-left {
  margin-right: 0;
}

/* Main */

/* Background-id */

.background-image {
  padding: 25px;
  background: url("./images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  align-items: center;
}

.bg-text-h3 {
  font-weight: 900;
}

.form-bg {
  padding: 3px 4px;
  background-color: rgba(201, 209, 211, 0.5);
}

.bg-input {
  width: 100%;
  border: none;
}

.submit {
  background-color: #D4574A;
  border: none;
  padding: 3px;
}

.anchor-search {
  display: block;
  width: 100%;
  background-color: #D4574A;
  color: white;
  text-align: center;
  padding: 3px;
}

/* How it works */

#how-it-works {
  margin: 25px 10px;
  text-align: center;
}

.how-it-works {
  border: none;
  padding: 5px;
  background-color: rgb(201, 209, 211);
}

.hit-h2 {
  font-weight: 600;
  color: #D4574A;
}

.search-hit {
  height: 230px;
}

.how-it-works-icon-decription {
  font-weight: 600;
}

/* Praise */

#praise {
  padding: 25px 0px;
  text-align: center;
}

.rounded-image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.rounded-image img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.h5-praise {
  font-weight: 600;
}

.submit-praise {
  width: 50%;
  color: #D4574A;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

.praise-top {
  background-color: #D4574A;
  padding: 15px 5px;
}

.praise-middle {
  background-color: #A3A59D;
}

.submit-praise-middle {
  color: #A3A59D;
  width: 70%;
}

.praise-bottom {
  background-color: #509BD7;
}

/* Footer */

footer {
  background-color: black;
  text-align: center;
  margin-top: 5px;
}

.text-subscribe {
  font-weight: 600;
  color: #B5B7BC;
}

.form-control {
  background-color: black;
}

.footer-anchor {
  color: orangered;
}

.lower-footer {
  background-color: #676869;
}