body {
  font-family: 'Roboto', sans-serif;
}

/* Nav */

nav {
  background-color: #C25D51;
}

.word-logo {
  margin-left: -8px;
}

.right-nav-links {
  margin: 20px;
}

.nav-no-margin {
  margin-left: 0;
}

.nav-no-margin-left {
  margin-right: 0;
}