body {
  font-family: Arial, Helvetica, sans-serif
}

/* Nav */

nav {
  background-color: #C25D51;
}

.word-logo {
  margin-left: -8px;
}

.right-nav-links {
  margin: 20px;
}

.nav-no-margin {
  margin-left: 0;
}

.nav-no-margin-left {
  margin-right: 0;
}

/* Main */

/* Background-id */

.background-image {
  padding: 25px;
  background: url("./images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  align-items: center;
}

.bg-text-h3 {
  font-weight: 900;
}

form {
  padding: 3px 4px;
  background-color: rgba(201, 209, 211, 0.5);
}

input {
  width: 100%;
  border: none;
}

.submit {
  background-color: #D4574A;
  border: none;
  padding: 3px;
}